.cart {
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 70px;
    z-index: 999;
    background-color: #fff;
    width: 400px;
    color: gray;
    // 浮雕效果
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);



    h1 {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        position: sticky;
    }

    .items {
        overflow-y: auto;
        max-height: 470px;
    }

    .item {
        width: 350px;
        display: flex;
        gap: 20px;
        font-size: 8px;
        margin-bottom: 20px;

        .desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: auto;
            width: 200px;

            .title {
                height: 30px;
                // text-overflow: ellipsis; //超出部分以省略号显示
                // white-space: nowrap;
                // overflow: hidden;

            }

        }

        h1 {
            font-size: 15px;
            font-weight: 500;
        }

        p {
            font-size: 14px;
        }


        img {
            width: 80px;
            object-fit: cover;
            height: 100%;
        }

        .price {
            color: #3d7bf6;
        }

        .delete {
            color: red;
            font-size: 30px;
            cursor: pointer;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .total {
            display: flex;
            justify-content: space-between;
            color: black;
        }

        .checkOut {
            border: none;
            background-color: #3d7bf6;
            width: 250px;
            height: 40px;
            color: #fff;
            cursor: pointer;
        }

        .reset {
            color: red;
            font-size: 12px;
            cursor: pointer;
        }
    }


}